# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.cpp.swp
*.cpp.swo
*in.txt
*out.txt
*/a.out
*/in.txt
*/out.txt
*/myout.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
